.profile__info {
    display: flex;
    margin-left: 30px;
    box-sizing: border-box;
    max-width: 610px;
}

/* Медиа-запрос для ширины 425px (меньше 768px)*/
@media all and (max-width:767px) {
    .profile__info {
        margin-top: 36px;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
}