.popup__input-error {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    padding-top: 5px;
    min-height: 35px;
    margin-bottom: -35px;
}