.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    width: 282px;
    position: relative;
}