.profile__avatar {
    width: 120px;
    height: 120px;
    position: relative;
}

.profile__avatar:after {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background-color: black;
    background-image: url(../../../images/Edit_Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    position: absolute;
    top: 0;
}

.profile__avatar:hover:after {
    opacity: 0.8;
}