.popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
}